body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;
}

#display {
    font-size: 5rem;
}

.fa {
    /*needed because clicking the icon woudln't fire event otherwise.*/
    pointer-events:none;
}
